* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.gordo {
    width: 100%;
    position: relative;
    overflow: hidden;
}

main {
    width: 100%;
    height: 100vh;
    background-image: url(../images/pexels-eberhard-grossgasteiger-691668.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

main h1 {
    margin: 0;
    padding: 0;
    font-size: 11rem;
}

main h1 span {
    display: table-cell;
    margin: 0;
    padding: 0;
    animation: tit1 1.5s linear infinite;
}

main h1 span:nth-child(1) {
    animation-delay: 0s;
}

main h1 span:nth-child(2) {
    animation-delay: 0.25s;
}

main h1 span:nth-child(3) {
    animation-delay: 0.5s;
}

main h1 span:nth-child(4) {
    animation-delay: 0.75s;
}

main h1 span:nth-child(5) {
    animation-delay: 1s;
}

main h1 span:nth-child(6) {
    animation-delay: 1.25s;
}

@keyframes tit1 {
    0%,100% {
        color: #fff;
        filter: blur(2px);
        text-shadow: 0 0 10px #00b3ff,
                    0 0 20px #00b3ff,
                    0 0 40px #00b3ff,
                    0 0 80px #00b3ff,
                    0 0 120px #00b3ff,
                    0 0 200px #00b3ff,
                    0 0 300px #00b3ff,
                    0 0 400px #00b3ff;
    }
    5%,95% {
        color: #111;
        filter: blur(0px);
        text-shadow: none;
    }
}

.navegador {
    width: 100%;
    height: 70px;
    background: #1e1e1e;
    color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.logo img {
    width: 50px;
    background: #1863ff;
    border-radius: 5px;
}

.burguer {
    display: none;
}

.enlaces {
    display: flex;
}

.enlaces ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.enlaces ul li {
    list-style: none;
    text-align: center;
    width: 110px;
    padding: 5px;
    transition: .5s;
}

.enlaces ul li a {
    text-decoration: none;
    color: #1863ff;
    font-size: 1.3rem;
}

.enlaces ul li:hover {
    /* background-color: #535050; */
    border-bottom: 2px solid palevioletred;
}

.burguer {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: black;
    box-shadow: 0 10px 20px rgba(0,0,0,.08);
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.burguer span {
    position: absolute;
    width: 40px;
    height: 4px;
    background: #1863ff;
    border-radius: 4px;
    transition: .5s;
}

.burguer span:nth-child(1) {
    transform: translateY(-15px);
    width: 40px;
    left: 5px;
}

.burguer span:nth-child(2) {
    transform: translateY(15px);
    width: 40px;
    left: 5px;
}

.burguer.active span:nth-child(1) {
    width: 40px;
    transform: translateY(0px) rotate(45deg);
    transition-delay: .125s;
    background: white;
}

.burguer.active span:nth-child(2) {
    width: 40px;
    transform: translateY(0px) rotate(315deg);
    transition-delay: .25s;
    left: 5px;
    background: white;
}

.burguer.active span:nth-child(3) {
    transform: translateX(60px);
}

.globalt {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1e1e1e;
}

.globalt h2 {
    font-size: 6rem;
    text-shadow: 1px 1px 1px white;
}

.globi {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dos2 {
    background-image: url(../images/pexels-public-domain-pictures-87769.jpg);
}

.tres3 {
    background-image: url(../images/pexels-mathias-pr-reding-9581519.jpg);
}

@media (max-width:767px) {

    main h1 {
        font-size: 5rem;
    }

    .burguer {
        display: flex;
    }
    
    .globalt h2 {
        font-size: 4rem;
    }
    
    .enlaces {
        width: 100%;
        transition: .5s;
        position: absolute;
        left: 100%;
        top: 70px;
    }

    .navegador {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 10px;
    }

    .enlaces ul {
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: #1e1e1e;
    }

    .enlaces ul li {
        text-align: center;
        width: 100%;
    }

    .enlaces ul li:hover {
       
        border-bottom: none;
    }

    .enlaces ul li:hover a {
/*         color: #1e1e1e;
        background: #1863ff;
        text-shadow: 1px 1px 1px white; */
        color: white;
    }

    .enlaces li a {
        padding: .5rem 1rem;
    }

    .enlaces.active {
        left: 0;
    }

}